.App {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.header {
  text-align: center;
}
/* 
ul > li,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
  text-align: center; */
/* } */
